@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
  }

  @mixin flexStart($direction) {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: $direction;
  }

  @mixin flexColStart() {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  @mixin flexSpaceBetween($direction , $align-item: center) {
    display: flex;
    align-items: $align-item;
    justify-content: space-between;
    flex-direction: $direction;
  }


