@import '../shared/appColors.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../shared/appMixins.scss';

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;


  @include media-breakpoint-up(md) {
    align-items: center;
    justify-content: center;
  }
}

.form-layout {




  @include media-breakpoint-up(md) {
    display: flex;
    background: $White;
    gap: 2rem;
    border-radius: 15px;
    width: max-content;
    padding: 15px;


  }
}

.side-bar {
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
  padding: 2rem;
  @include flexCenter(row);
  background-position: center center;
  height: 180px;
  align-items: start;
  gap: 0.5rem;

  @include media-breakpoint-up(md) {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
    width: 30%;
    height: 100%;
    background-image: url("/assets/images/bg-sidebar-desktop.svg");
    border-radius: 10px;
  }
}

.form-container {
  align-items: center;

  @include media-breakpoint-up(md) {
    background: transparent;
    display: flex;
  flex-direction: column;

  }
}

footer {
  position: absolute;
  text-align: center;
  bottom: 10px;


  
}

.attribution a {
  color: $Purplish-blue;
}

.next-button,
.back-button {
  color: $White;
  background-color: $Marine-blue;
  border: none;
  padding: 0.6rem;
  border-radius: 5px;
  height: auto;
}

.back-button {
  color: $Cool-gray;
  background-color: transparent;
}

.navigation {
  background: $White;
  padding: 1rem;
  @include flexSpaceBetween(row);
   
  @include media-breakpoint-up(md) {
    width: 85%;

  }

}