@import '../../../../../shared/text.styles.scss';
@import '../../../../../shared/appMixins.scss';



.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid $Light-gray;
    border-radius: 5px;
    margin-top: 5px;

    &::placeholder {
        color: $Cool-gray;
    }

    &.invalid-touched {
        border-color: $Strawberry-red; 
    }
}

.input-group__label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}