@import '../../../../shared/appColors.scss';
@import '../../../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../../shared/appMixins.scss';

.step-indicator {
    align-items: center;
    display: flex;
    flex-direction: row;

    @include media-breakpoint-up(md) {
        flex-direction: column;
    }
}

.circle {
    width: 30px;
    height: 30px;
    color: $White;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: normal;
    margin-right: 10px;

    &.active {
        background-color: $Light-blue;
        color: $Marine-blue;
    }

    &.inactive {
        background-color: transparent;
        border: 2px solid $White;
    }
}

.Step-label,
.Step-description {
    font-size: 0.8rem;
    @include media-breakpoint-down(md) {
        display: none;

    }
}

.Step-label {
    color: $Cool-gray;
  
}

.Step-description {
    color: $White;
    font-weight:500;
}