@import '../../shared/appMixins.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../shared/appColors.scss';
.side-bar{
@include flexCenter(row);
background-image: url("/assets/images/bg-sidebar-mobile.svg") ;
background-size: cover;
gap:2rem;
height: 11rem;
@include media-breakpoint-up(md) {
    flex-direction: column;
    align-items: start;
    background-image: url("/assets/images/bg-sidebar-desktop.svg") ;
    height: 100%;
     
  }
}


.form-container{
    display: block;
    background-color: $White;
    border-radius: 15px;
    padding: 15px;
}
