@import '../../shared/appMixins.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../shared/appColors.scss';

.main-layout{
  @include flexCenter(column);
}

.form-container{
    position: relative;
    background-color: $White;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    z-index: 2;
    top: -110px;
}
