@import '../../../../../shared/text.styles.scss';
@import '../../../../../shared/appMixins.scss';
@import '../../../../../../node_modules/@material/switch/switch-theme';

.plan-card {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid $Light-gray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        border-color: $Marine-blue; 
    }

    .plan-icon-container {
        width: 40px; 
        height: 40px;
        margin-right: 10px;
        img {
            width: 100%;
            height: auto;
        }
    }

    .plan-details {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        .plan-name {
            font-weight: bold;
            color:$Marine-blue;
        }

        .plan-price {
            display: block;
            color:$Cool-gray;
        }

        .plan-perks {
            font-size: 0.85rem;
            color:$Marine-blue;
        }
    }
}

.plan-label{
    padding: 10px;
    display:flex;
    gap: 10px;
    align-items: start;
}

.custom-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: $Alabaster; 
    border-radius: 5px ;
    margin-top: 15px;
    padding: 10px;
    
    .toggle-track {
        display: inline-block;
        width: 50px; 
        height: 20px; 
        background: $Marine-blue; 
        border-radius: 50px;
        position: relative;
        cursor: pointer;
        transition: background 0.3s ease;

        .toggle-thumb {
            position: absolute;
            top: 3px;
            bottom: auto;
            left: 3px;
            right: auto;
            width: 15px;
            height: 15px;
            background-color: $White; 
            border-radius: 50%;
            transition: transform 0.3s ease;
        }
    }

    .toggle-checkbox:checked + .toggle-track .toggle-thumb {
        transform: translateX(29px); 
    }

    .billing-label {
        margin: 0 15px;
    }
}


